<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
    <title>Buscar Paquetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	
	<div th:replace="~{complementos/navbar :: navbar}"></div>
	
    <h2>Listado de Paquetes</h2>

    <form method="get" th:action="@{/jefe-ventas/paquetes/buscar}" class="mb-3">
		<input type="number" name="id" placeholder="Buscar por ID" class="form-control mb-2"
		       th:value="${param.id}" />
        <button type="submit" class="btn btn-primary me-2">Buscar</button>
        <a href="/jefe-ventas/paquetes/buscar" class="btn btn-secondary me-2">Mostrar todos</a>
        <a href="/jefe-ventas/paquetes/nuevo" class="btn btn-success">Cargar nuevo paquete</a>
    </form>

    <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

    <table class="table table-striped" id="tablaPaquetes">
        <thead>
            <tr>
                <th>ID</th>
				<th>Cantidad de pasajeros</th>
				<th>Destino</th>
                <th>Lugar de Salida</th>
				<th>Fecha de Inicio</th>
				<th>Fecha de Fin</th>
				<th>Metodo de transporte</th>
				<th>Descripcion</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="paquete : ${paquetes}">
                <td th:text="${paquete.id}">ID</td>
				<td th:text="${paquete.passangers}">Pasajeros</td>
                <td th:text="${paquete.destination}">Destino</td>
				<td th:text="${paquete.departure_place}">Lugar de Salida</td>
				<td th:text="${paquete.start_date}">Fecha de Inicio</td>
				<td th:text="${paquete.end_date}">Fecha de Fin</td>
				<td th:text="${paquete.transport}">Metodo de Transporte</td>
				<td th:text="${paquete.description}">Descripcion</td>
                <td th:text="${paquete.price}">Precio</td>
                <td>
                    <a th:href="@{/jefe-ventas/paquetes/editar/{id}(id=${paquete.id})}" class="btn btn-sm btn-primary">Modificar</a>
					<form th:action="@{/jefe-ventas/paquetes/eliminar/{id}(id=${paquete.id})}" method="post" onsubmit="return confirm('¿Eliminar este paquete del carrito?')">
					    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
					</form>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(paquetes)}">
                <td colspan="9" class="text-center">No hay paquetes para mostrar</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
