<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Carrito de Paquetes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div th:replace="~{complementos/navbar :: navbar}"></div>

	<div class="container mt-4">
	    <h2>Listado de Paquetes en el Carrito</h2>
		
		<table class="table table-striped mt-3">
			<thead>
			    <tr>
			        <th>ID</th>
					<th>Cantidad de pasajeros</th>
					<th>Destino</th>
			        <th>Lugar de Salida</th>
					<th>Fecha de Inicio</th>
					<th>Fecha de Fin</th>
					<th>Metodo de transporte</th>
					<th>Descripcion</th>
			        <th>Precio</th>
									<th>Eliminar</th>
			    </tr>
			</thead>
			<tbody>
			    <tr th:each="cartItem : ${cartItems}">
					<td th:text="${cartItem.passangers}">Pasajeros</td>
			        <td th:text="${cartItem.destination}">Destino</td>
					<td th:text="${cartItem.departure_place}">Lugar de Salida</td>
					<td th:text="${cartItem.start_date}">Fecha de Inicio</td>
					<td th:text="${cartItem.end_date}">Fecha de Fin</td>
					<td th:text="${cartItem.transport}">Metodo de Transporte</td>
					<td th:text="${cartItem.description}">Descripcion</td>
			        <td th:text="${cartItem.price}">Precio</td>
					
			        <td>
						<form th:action="@{'/carrito/item/eliminar/' + ${cartItem.id}}" method="post" onsubmit="return confirm('¿Eliminar este paquete del carrito?')">
						    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
						</form>
					</td>

	            </tr>
	            <tr th:if="${#lists.isEmpty(cartItems)}">
	                <td colspan="4" class="text-center">No hay paquetes en el carrito</td>
	            </tr>
	        </tbody>
	    </table>

		<div class="d-flex justify-content-end align-items-center mt-3">
		    <form th:action="@{/carrito/limpiar}" method="post">
		        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		        <button type="submit" class="btn btn-success me-2">Limpiar carrito</button>
		    </form>
		    
		    <div class="me-3 fs-5">
		        Total: <span th:text="${totalCompra}">0.00</span> ARS
		    </div>

		    <a class="nav-link btn btn-primary text-black ms-2" href="/nuevo-pago">Comprar</a>
		</div>
	</div>

</body>
</html>
