<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title th:text="'Detalles de ' + ${paquete.destination}">Detalles</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container py-4">
	<nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
	    <a class="navbar-brand" href="/inicio">ViajaFácil</a>

	    <ul class="navbar-nav me-auto">
	        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
	            <a class="nav-link" href="/jefe-ventas">Panel Ventas</a>
	        </li>
	    </ul>

	    <ul class="navbar-nav ms-auto">
	        <li class="nav-item" sec:authorize="!isAuthenticated()">
	            <a class="nav-link" href="/login">Iniciar Sesión</a>
	        </li>
	        <li class="nav-item" sec:authorize="!isAuthenticated()">
	            <a class="nav-link" href="/register">Registrarse</a>
	        </li>

	        <li class="nav-item" sec:authorize="isAuthenticated()">
	            <span class="navbar-text me-2">Hola, <span sec:authentication="name"></span></span>
	        </li>
	        <li class="nav-item" sec:authorize="isAuthenticated()">
	            <form th:action="@{/logout}" method="post" class="d-inline">
	                <button type="submit" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
	            </form>
	        </li>
	    </ul>
	</nav>
    <a href="/inicio" class="btn btn-link mb-3">&larr; Volver al inicio</a>

    <div class="card shadow">
        <img th:src="@{'https://placehold.co/600x400,' + ${paquete.destination}}" class="card-img-top" alt="Imagen del destino">

        <div class="card-body">
            <h2 class="card-title text-primary" th:text="${paquete.destination}">Destino</h2>
            <p><strong>Descripción:</strong> <span th:text="${paquete.description}"></span></p>
            <p><strong>Fechas:</strong> 
                <span th:text="${paquete.start_date}"></span> - 
                <span th:text="${paquete.end_date}"></span>
            </p>
			<p><strong>Fecha de Salida:</strong> <span th:text="${paquete.departure_place}"></span></p>
            <p><strong>Metodo de Transporte:</strong> <span th:text="${paquete.transport}"></span></p>
            <p><strong>Pasajeros:</strong> <span th:text="${paquete.passangers}"></span></p>
            <p><strong>Precio:</strong> $<span th:text="${paquete.price}"></span></p>
			
			<td>
			    <form th:action="@{/carrito/agregar}" method="post" style="margin:0;">
			        <input type="hidden" name="idTourPackage" th:value="${paquete.id}" />
			        <button type="submit" class="btn btn-sm btn-primary">Agregar al carrito</button>
			    </form>
			</td>
        </div>
    </div>
</body>
</html>
